TELEGRAM_TOKEN="7816379238:AAGq4yFrS6Hsi3eSRdcFg7bohSQPvhCHnB8"
OPENAI_API_KEY="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"
BOTNAME="your bots name"
TAVILY_API_KEY="tav api key"
USERS=allowed users
ANTHROPIC_API_KEY="anthropic api key"
